.CanvasContainer {
  height: calc(100vw - 6.5vw);
  box-sizing: border-box;
}
.CanvasContainer > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.CanvasContainer > div > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  background-color: black;
  background-image: url(../images/checker-board.png);
  background-repeat: repeat;
  background-size: 20%;
  overscroll-behavior: none;
}
